@model MyMedicalGuide.Web.Models.Hospitals.HospitalGridViewModel

<h5>Add hospital</h5>
<hr />
@Html.ValidationSummary("", new { @class = "text-danger" })
<div class="row">
    <div class="input-field col s12">

        <i class="mdi-action-account-circle prefix"></i>
        @Html.TextBoxFor(m => m.Name)

        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })

    </div>
</div>
<div class="row">
    <div class="input-field col s12">

        <i class="mdi-action-account-circle prefix"></i>
        @Html.TextBoxFor(m => m.Address)

        @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })

    </div>
</div>
<div class="row">
    <div class="input-field col s12">

        <i class="mdi-action-account-circle prefix"></i>
        @Html.TextBoxFor(m => m.Image)

        @Html.LabelFor(m => m.Image, new { @class = "col-md-2 control-label" })

    </div>
</div>