@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Alert")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("KendoStyles", required: false)    
    @RenderSection("kendo", required: false)
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/Alert")
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar-fixed">

        @if (this.TempData["InfoMsg"] != null)
        {
            <script>
                swal("@this.TempData["InfoMsg"]", "", "success")
            </script>
        }
        @if (this.TempData["ErrorMsg"] != null)
        {
            <script>
                swal("@this.TempData["ErrorMsg"]", "", "error")
            </script>
        }
        <nav>
            <div class="nav-wrapper">
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Hospitals", "All", "Hospitals", new { area = "" }, null)</li>
                    @if (User.IsInRole("Patient"))
                    {
                        <li>@Html.ActionLink("Find Doctor", "Add", "Doctors", new { area = "Patient" }, null)</li>
                    }
                </ul>
                @if (User.IsInRole("Patient"))
                {
                    <ul class="hide-on-med-and-down col col s8 m8 l8">
                        <li>
                            <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#\" data-activates="profile-dropdown">My Panel<i style="position:relative; top:-15px" class="mdi-navigation-arrow-drop-down right "></i></a>
                            <ul id="profile-dropdown" class="dropdown-content active" style="display: none;">
                                <li>
                                    @Html.ActionLink("Profile", "Index", "Profile", new { area = "Patient" }, null)

                                </li>
                            </ul>
                        </li>
                    </ul>
                }
                @if (User.IsInRole("Admin"))
                {
                    <ul class="hide-on-med-and-down col col s8 m8 l8">
                        <li>
                            <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#\" data-activates="profile-dropdown">My Panel<i style="position:relative; top:-15px" class="mdi-navigation-arrow-drop-down right "></i></a>
                            <ul id="profile-dropdown" class="dropdown-content active" style="display: none;">
                                <li>
                                    @Html.ActionLink("Manage", "Index", "AdminHome", new { area = "Admin" }, null)

                                </li>
                            </ul>
                        </li>
                    </ul>
                }

                @if (User.IsInRole("Doctor"))
                {
                    <ul class="hide-on-med-and-down col col s8 m8 l8">
                        <li>
                            <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#\" data-activates="profile-dropdown">My Panel<i style="position:relative; top:-15px" class="mdi-navigation-arrow-drop-down right "></i></a>
                            <ul id="profile-dropdown" class="dropdown-content active" style="display: none;">
                                <li>
                                    @Html.ActionLink("Requests", "Index", "Requests", new { area = "Doctor" }, null)
                                    @Html.ActionLink("Patients", "All", "Patients", new { area = "Doctor" }, null)
                                </li>
                            </ul>
                        </li>
                    </ul>
                }

                <ul class="side-nav" id="mobile-demo">
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Hospitals", "All", "Hospitals", new { area = "" }, null)</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Appointments", "Create", "Appointments", new { area = "Patient" }, null)</li>
                    }
                    @if (User.IsInRole("Admin"))
                    {

                        <li>@Html.ActionLink("AdminHome", "Index", "AdminHome", new { area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Manage Hospitals", "Hospitals", "AdminHome", new { area = "Admin" }, null)</li>
                    }
                </ul>
                <ul class="right">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>

        </nav>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="center">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/home");
</body>
</html>
