@model MyMedicalGuide.Web.Models.Account.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col s6 offset-s3">
        <div class="card-panel z-depth-4">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Create a new account.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="row">
                    <div class="input-field col s12">

                        <i class="mdi-action-account-circle prefix"></i>
                        @Html.TextBoxFor(m => m.FirstName)

                        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">

                        <i class="mdi-action-account-circle prefix"></i>
                        @Html.TextBoxFor(m => m.LastName)

                        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })

                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">

                        <i class="mdi-action-account-circle prefix"></i>
                        @Html.TextBoxFor(m => m.Username)

                        @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">

                        <i class="mdi-communication-email prefix"></i>
                        @Html.TextBoxFor(m => m.Email)

                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">

                        <i class="mdi-action-lock-outline prefix"></i>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">

                        <i class="mdi-action-lock-outline prefix"></i>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="mdi-action-settings-phone prefix"></i>
                        @Html.TextBoxFor(m => m.PhoneNumber)

                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="mdi-action-perm-identity prefix"></i>
                        @Html.TextBoxFor(m => m.SSN)

                        @Html.LabelFor(m => m.SSN, new { @class = "col-md-2 control-label" })

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn waves-effect waves-light red lighten-2" value="Register" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
